
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | General Form Elements</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css">
</head>
<body class="hold-transition sidebar-mini">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Edit Order</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form onsubmit="return false;">
                
                <div class="row">
                    <div class="col-sm-6">
                        <!-- select -->
                        <div class="form-group">
                            <label>Supplier</label>
                            <select id="supplierDropdown" class="form-control ">
                                <option selected="selected">Select</option>

                            </select>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Order Name</label>
                            <input type="text" name="orderName" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Order Number</label>
                            <input type="text" name="orderNumber" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- select -->
                        <div class="form-group">
                            <label>Order Type</label>
                            <select id="orderTypeDropdown" class="form-control">
                                <option selected="selected">Select</option>


                            </select>
                        </div>
                    </div>


                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Order Date</label>
                            <input type="text" name="orderDate" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Shipment Details</label>
                            <input type="text" name="shipmentDetails" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                </div>
                <hr />
                <div class="card">
                    <div class="card-header">
                        <table id="addRow" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item Number</th>
                                    <th>Quantity</th>
                                </tr>
                            </thead>
                            <tbody>
                            
                            </tbody>
                        </table>
                    </div>
                </div>



                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" id="btnSubmit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" onclick="goToIndexPage()">Cancel</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>

    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/editreturn.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {



            $("#example1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });



                }



        function goToIndexPage() {
            window.location.href = "/ReturnDetails"; // Replace with the actual URL of your index page
        }

    </script>
</body>
</html>