<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css">






</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">

        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">Order List</h3>
                            <div class="col-lg-14 text-right">
                                <a href="@Url.Action("AddReturn", "ReturnDetails")" class="btn btn-info">
                                    <i class="fas fa-plus"></i> Add item
                                </a>
                            </div>
                            
                        </div>

                      

                        <!-- /.card-header -->
                        <div class="card-body">
                            <table  id = "example1" class="table table-bordered table-striped">
                                <thead>
                                    


                                    <tr>
                                  
                                        <th>Order Name</th>
                                        <th>Order Number</th>
                                        <th>Order Date</th>
                                        <th>Order Type </th>
                                        <th>Supplier Name</th>
                            

                                        <th>Action</th>
                                        

                                    </tr>
                                </thead>
                                <tbody id="TableBody">
                                    

                                </tbody>
                               
                            </table>

                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
    </div>

    <!-- Edit Modal for Orders -->
    <div class="modal" id="editOrderModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Order</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="editOrderForm">
                        <!-- Add form fields for editing orders here -->
                        <div class="form-group" style="display: none;">
                            <label for="editOrderId" >Order Id</label>
                            <input type="text" class="form-control" id="editOrderId" name="editOrderName">
                        </div>
                        <div class="form-group" >
                            <label for="editOrderName">Order Name</label>
                            <input type="text" class="form-control" id="editOrderName" name="editOrderName">
                        </div>
                        <div class="form-group">
                            <label for="editOrderNumber">Order Number</label>
                            <input type="text" class="form-control" id="editOrderNumber" name="editOrderNumber">
                        </div>
                   
                        <div class="form-group" >
                            <label for="editShipmentDetails" style="display: none;">ShipmentDetails</label>
                            <input type="text" class="form-control" id="editShipmentDetails" name="editShipmentDetails">
                        </div>
                        <div class="form-group" >
                            <label for="editOrderTypeId" style="display: none;">OrderType ID</label>
                            <input type="text" class="form-control" id="editOrderTypeId" name="editOrderTypeId">
                        </div>
                        <div class="form-group" >
                            <label for="editVendorId" style="display: none;">Vendor ID</label>
                            <input type="text" class="form-control" id="editVendorId" name="editVendorId">
                        </div>
                        <div class="form-group">
                            <label for="editName" style="display: none;">Name</label>
                            <input type="text" class="form-control" id="editName" name="editName">
                        </div>
                        <div class="form-group">
                            <label for="editOrderTypeName" style="display: none;">Name</label>
                            <input type="text" class="form-control" id="editOrderTypeName" name="editOrderTypeName">
                        </div>
                   
                      
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="saveOrderChangesBtn">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- /.content -->
    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="~/js/return.js"></script>



    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
  







</body>
</html>