<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | General Form Elements</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/css/bootstrap-datepicker3.min.css">
     <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />

     <style>
    /* Increase the height of Select2 dropdown */
    .select2-container--default .select2-selection--single {
        height: 35px; /* Adjust the height as needed */
      
    }
</style>

</head>
<body class="hold-transition sidebar-mini">
    <div class="card card-info">
        <div class="card-header">
            <h3 class="card-title">Add Purchase</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
            <form onsubmit="return false;">
                <div class="row">
                    <div class="col-sm-6">
                        <!-- select -->
                        <div class="form-group">
                            <label>Supplier</label>
                            <select class="form-control select2" style="width: 100%;">
                             
                                <option selected="selected">Supplier 1</option>
                                <option>Supplier 2</option>
                                <option>Supplier 3</option>
                                <option>Supplier 4</option>
                                <option>Supplier 5</option>
                                <option>Supplier 6</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>PO Number</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>PO Date</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <!-- text input -->
                        <div class="form-group">
                            <label>Shipment Details</label>
                            <input type="text" class="form-control" placeholder="Enter ...">
                        </div>
                    </div>

                </div>
                <hr />
                <div class="card">
                    <div>
   <!-- Button to open the modal -->
<button type="button" class="btn btn-info float-right" data-toggle="modal" data-target="#itemModal">
    <i class="fas fa-plus"></i> Add item
</button>
                    </div>

 
                    <div class="card-header">
                      
                        <table id="addRow" class="table table-bordered table-striped">
                       

                            <thead>
                               
                                <tr>
                                    <th>Item Name</th>
                                    <th>Item Number</th>
                                    <th>Quantity</th>
                                    <th>MRP</th>
                                    <th>Discount Price</th>
                                    <th>Total Price</th>
                                    
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                <select class="form-control select2 item-name" style="width: 100%;">
                                    <option selected="selected">Item 1</option>
                                    <option>Item 2</option>
                                    <option>Item 3</option>
                                </select>
                            </td>
                             <td>
                                   <select class="form-control select2 item-number" style="width: 100%;">
                                             <option selected="selected">Item Number 1</option>
                                             <option>Item Number 2</option>
                                             <option>Item Number 3</option>
                                    </select>
                                    </td>
                                    <td><input type="number" class="form-control" name="quantity[]"></td>
                                    <td><input type="number" class="form-control" name="mrp[]"></td>
                                    <td><input type="number" class="form-control" name="discount_price[]"></td>
                                    <td><input type="number" class="form-control" name="total_price[]" onkeydown="addRowOnEnter(event)"></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>

                    <div class="row">
                        <div class="col-sm-6"></div> <!-- Empty column to create space -->
                        <div class="col-sm-6">
                            <div class="row">
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Total Discount</label>
                                        <input type="text" class="form-control" placeholder="Enter ...">
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="form-group">
                                        <label>Total Tax</label>
                                        <input type="text" class="form-control" placeholder="Enter ...">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label>Total Price</label>
                                        <input type="text" class="form-control" placeholder="Enter ...">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Upload Invoice</button>
                <button type="submit" class="btn btn-primary">Save</button>
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" onclick="goToIndexPage()">Cancel</button>
            </form>
        </div>
        <!-- /.card-body -->
    </div>


    <!-- Modal -->
<div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header" style="background-color: #17a2b8; color: white;">
                <h5 class="modal-title" id="itemModalLabel">Add Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Item Name</label>
                                <input type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Item Number</label>
                                <input type="text" class="form-control" placeholder="Enter ...">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <!-- select -->
                            <div class="form-group">
                                <label>Order Type</label>
                                <select class="form-control">
                                    <option>option 1</option>
                                    <option>option 2</option>
                                    <option>option 3</option>
                                    <option>option 4</option>
                                    <option>option 5</option>
                                </select>
                            </div>
                        </div>
                    </div>
                   
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-primary">Submit</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>





    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap-datepicker@1.9.0/dist/js/bootstrap-datepicker.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            // Initialize the date picker
            $('#datepicker').datepicker({
                format: 'yyyy-mm-dd', // You can change the date format as needed
                autoclose: true
            });

               $(document).ready(function () {
                // Initialize Select2 for the initial row
                $('.item-name, .item-number').select2();
            });

            $("#example1").DataTable({
                "responsive": true,
                "lengthChange": false,
                "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        function goToIndexPage() {
            window.location.href = "/Purchase"; // Replace with the actual URL of your index page
        }

   
        $(function () {
            bsCustomFileInput.init();
        });


        // Function to add a new row to the table
        function addNewRow() {
            // Check if all input fields in the current row are filled
            var currentRow = $("#addRow tbody tr:last");
            var inputs = currentRow.find("input");
            var allFieldsFilled = true;

            inputs.each(function () {
                if ($(this).val() === "") {
                    allFieldsFilled = false;
                    return false; // Exit the loop early
                }
            });

            if (allFieldsFilled) {
                var newRow = `
                    <tr>
                       <td>
                                <select class="form-control select2 item-name" style="width: 100%;">
                                    <option selected="selected">Item 1</option>
                                    <option>Item 2</option>
                                    <option>Item 3</option>
                                </select>
                            </td>
                            <td>
                         <select class="form-control select2 item-number" style="width: 100%;">
            <option selected="selected">Item Number 1</option>
            <option>Item Number 2</option>
            <option>Item Number 3</option>
        </select>
        </td>
                        <td><input type="number" class="form-control" name="quantity[]"></td>
                        <td><input type="number" class="form-control" name="mrp[]"></td>
                        <td><input type="number" class="form-control" name="discount_price[]"></td>
                        <td><input type="number" class="form-control" name="total_price[]"></td>
                    </tr>
                `;
                $("#addRow tbody").append(newRow);
                    // Initialize Select2 for the new row
                   $('.item-name, .item-number').select2({ height: '100%' });
            } else {
                alert("Please fill in all the columns in the current row.");
            }
        }

       // Function to remove the last row when the "Total Price" field is empty or Backspace is pressed
function removeLastRow() {
    var rowCount = $("#addRow tbody tr").length;
    if (rowCount > 1) {
        var lastRow = $("#addRow tbody tr:last");
        var totalPriceInput = lastRow.find("input[name='total_price[]']");
        if (totalPriceInput.val() === "") {
            if (confirm("Do you want to delete this row?")) {
                lastRow.remove();
            }
        }
    }
}

// Attach the keydown event handler to the "Total Price" column
$("#addRow tbody").on("keydown", "input[name='total_price[]']", function (event) {
    if (event.key === "Enter") {
        event.preventDefault(); // Prevent the default behavior of Enter key
        addNewRow();
     
    } else if (event.key === "Backspace") {
        var totalPriceInput = $(this);
        if (totalPriceInput.val() === "") {
            {
                removeLastRow();
            }
        }
    }
});


    </script>
</body>
</html>