
                <thead>

                <tr>
                <th>Customer Name</th>
                <th>Mobile</th>
                <th>Service Type</th>
                <th>Invoice Number</th>
                <th>Comments</th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>Customer1</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
                <td> XXXXXXXXXX4</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>
                <tr>
                <td>Customer 2</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
                <td> XXXXXXXXXX4</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>
                <tr>
                <td>Customer 3</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
                <td> XXXXXXXXXX4</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>
                <tr>
                <td>Customer 4</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
                <td> XXXXXXXXXX4</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>



                </tbody>





