<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>

           <tr>
                <th>Customer Name</th>
                <th>Mobile</th>
                <th>Enquiry Type</th>
                <th>Invoice Number</th>
                <th>Comments</th>
                <th>Action</th>
            </tr>
        </thead>
                <tbody id="TableBody">

                </tbody>
    </table>
</div>

<script src="~/js/customerTable.js"></script>



