
                <thead>

                <tr>
                <th>FollowUp Name</th>
                <th>Mobile</th>
                <th>Enquiry Type</th>
        <th>FollowUp Date</th>
    
                <th>Comments</th>
                <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                <td>FollowUp1</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
        <td>xx-xx-xxxx</td>
           
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>
                <tr>
                <td>FollowUp2</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
        <td>xx-xx-xxxx</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>
                <tr>
                <td>FollowUp3</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
        <td>xx-xx-xxxx</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>
                <tr>
                <td>FollowUp4</td>
                <td>
                1234567890
                </td>
                <td>Win 95+</td>
        <td>xx-xx-xxxx</td>
                <td>Bought</td>
                <td>
                <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                </td>
                </tr>



                </tbody>





