<div class="card-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>

            <tr>
        

                <tr>
                <th>FollowUp Name</th>
                <th>Mobile</th>
                <th>Enquiry Type</th>
                <th>FollowUp Date</th>

                <th>Comments</th>
                <th>Action</th>
            </tr>
                </thead>
       
          

        <tbody id="TableBody"></tbody>
    </table>

    <script src="~/js/followUpTable.js"></script>
</div>



