<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>


  <!-- Add Pikaday CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/css/pikaday.min.css">

    <!-- Optional: Add a theme for styling -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/dark.css">

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

  
  <style>
        .form-check {
            margin-top: 30px; /* Adjust the value as needed */
        }

        /* Add some styles to the datepicker input */
        #datepicker {
            width: 100%;
            padding: 10px;
        }
    </style>
</head>

<body class="hold-transition sidebar-mini">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="enquiry" name="radioOption" value="Enquiry" checked>
                        <label class="form-check-label" for="enquiry">Enquiry</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="customer" name="radioOption" value="Customer">
                        <label class="form-check-label" for="customer">Customer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="followup" name="radioOption" value="followup">
                        <label class="form-check-label" for="followup">Follow-up</label>
                    </div>
                </div>
          <div class="col-lg-2">
<div class="form-group">
<label for="datepicker">From Date</label>
                        <input type="text" id="datepicker" placeholder="Select a date" class="form-control">
</div>
                </div>
                <div class="col-lg-2">
    <div class="form-group">
        <label for="datepicker2">To Date</label>
        <input type="text" id="datepicker2" placeholder="Select a date" class="form-control">
    </div>
</div>


                <div class="col-md-4">
                    <div class="form-group text-right">
                        <a href="@Url.Action("Create", "Enquiry")" class="btn btn-info">
                            <i class="fas fa-plus"></i> Add item
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div id="tableContainer"></div>

    </div>



    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
   <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

<!-- Add Pikaday and Moment.js JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pikaday/1.8.0/pikaday.min.js"></script>


    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>

        $(document).ready(function () {
            // Function to load the "Enquiry" table
            function loadTable(selectedValue) {
                var url = '/Enquiry/GetPartialView?option=' + selectedValue;

                $.ajax({
                    url: url,
                    type: 'GET',
                    success: function (result) {
                        $('#tableContainer').html(result).show();
                    },
                    error: function () {
                        // Handle any error that might occur during the AJAX request
                        console.error("Failed to load partial view.");
                    }
                });
            }

            // Initially, load the "Enquiry" table
            var selectedValue = $('input[name=radioOption]:checked').val();
            loadTable(selectedValue);

            // Handle radio button click events
            $('input[type=radio]').change(function () {
                var selectedValue = $(this).val();
                loadTable(selectedValue);
            });

        });


          document.addEventListener('DOMContentLoaded', function () {
            // Initialize Pikaday
            var picker = new Pikaday({
                field: document.getElementById('datepicker'),
                format: 'MM/DD/YYYY', // Set the desired date format
                yearRange: [1900, moment().year()], // Set the range of years
                showYearDropdown: true, // Show a dropdown for selecting years
            });

              // Initialize Pikaday for the second datepicker
    var picker2 = new Pikaday({
        field: document.getElementById('datepicker2'),
        format: 'MM/DD/YYYY', // Set the desired date format
        yearRange: [1900, moment().year()], // Set the range of years
        showYearDropdown: true, // Show a dropdown for selecting years
    });
        });









      

    </script>
</body>

</html>
