
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>
    

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="../../plugins/fontawesome-free/css/all.min.css">
    <!-- DataTables -->
    <link rel="stylesheet" href="../../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="../../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <style>
        .form-check {
            margin-top: 30px; /* Adjust the value as needed */
        }
    </style>
</head>
<body class="hold-transition sidebar-mini">
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-md-4">
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="enquiry" name="radioOption" value="Enquiry" checked>
                        <label class="form-check-label" for="enquiry">Enquiry</label>
                    </div>

                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="customer" name="radioOption" value="Customer">
                        <label class="form-check-label" for="customer">Customer</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input type="radio" class="form-check-input" id="followup" name="radioOption" value="followup">
                        <label class="form-check-label" for="followup">Follow-up</label>
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="fromDate">From Date</label>
                        <input type="text" id="fromDate" class="form-control" placeholder="Select a date">
                    </div>
                </div>
                <div class="col-lg-2">
                    <div class="form-group">
                        <label for="toDate">To Date</label>
                        <input type="text" id="toDate" class="form-control" placeholder="Select a date">
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group text-right">
                        <a href="@Url.Action("Create", "Enquiry")" class="btn btn-info">
                            <i class="fas fa-plus"></i> Add Enquiry
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="card-body">
            <div id="enquiry1">
            <table id="example1" class="table table-bordered table-striped">
                <thead>

                    <tr>
                        <th>EnquiryName</th>
                        <th>Mobile</th>
                        <th>Enquiry Type</th>
                    
                        <th>Comments</th>
                        <th>Action</th>
                    </tr>
                </thead>
                    <tr>
                        <td>Enquiry 1</td>
                        <td>
                            1234567890
                        </td>
                        <td>Win 95+</td>
                   
                        <td>Bought</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Enquiry 2</td>
                        <td>
                            1234567890
                        </td>
                        <td>Win 95+</td>
            
                        <td>Bought</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Enquiry 3</td>
                        <td>
                            1234567890
                        </td>
                        <td>Win 95+</td>
                  
                        <td>Bought</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Enquiry 4</td>
                        <td>
                            1234567890
                        </td>
                        <td>Win 95+</td>
                  
                        <td>Bought</td>
                        <td>
                            <i class="fa-solid fa-pen-to-square fa-lg" style="color: #1257ce;"></i>
                        </td>
                    </tr>

        

            </table>
            </div>
        </div>
    </div>


 



    <!-- jQuery -->
    <script src="../../plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="../../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../../plugins/jszip/jszip.min.js"></script>
    <script src="../../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>

        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    <!-- AdminLTE App -->
    <script src="../../dist/js/adminlte.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../../dist/js/demo.js"></script>
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        $(document).ready(function () {
            // Function to load the "enquiry1" table
            function loadEnquiryTable() {
                $('#enquiry1').show();
            }

            // Initially, load the "enquiry1" table
            loadEnquiryTable();

            // Handle radio button click events
            $('input[type=radio]').change(function () {
                var selectedValue = $(this).val();

                if (selectedValue === 'Enquiry') {
                    // Use Ajax to load the corresponding partial view for Customer or Follow-up
                    var url = '@Url.Action("GetPartialView", "Enquiry")?option=' + selectedValue;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (result) {
                            $('#example1').html(result).show();
                        }
                    });
                
                } else {
                    // Use Ajax to load the corresponding partial view for Customer or Follow-up
                    var url = '@Url.Action("GetPartialView", "Enquiry")?option=' + selectedValue;
                    $.ajax({
                        url: url,
                        type: 'GET',
                        success: function (result) {
                            $('#example1').html(result).show();
                        }
                    });
                }
            });
        });











    </script>
</body>
</html>



